html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}
body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
}
p {
  line-height: 1.6;
}
a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

.global-nav {
  height: 44px;
}
.local-nav {
  height: 52px;
  border-bottom: 1px solid #ddd;
}
.global-nav-links,
.local-nav-links {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}
.global-nav-links {
  justify-content: space-between;
}
.local-nav-links .product-name {
  margin-right: auto;
  font-weight: bold;
  font-size: 1.4rem;
}
.local-nav-links a:not(.product-name) {
  margin-left: 2em;
  font-size: 0.8rem;
}
